*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-family: sans-serif;
    background-color:azure;
}

.container{
    height: 100vh;
    display: flex;
align-items: center;
justify-content: center;
background-color: azure;
}
.calc{

    box-shadow: 6px 6px 13px #fff ,
               6px 6px 6px 13px rgba(0, 0, 0,16);
border-radius: 28px;
padding: 16px;
display: grid;
grid-template-columns: repeat(4,70px);  /*column size 70px*/

}

input{
    grid-column: span 4;
    height: 50px;
width: 280px;
box-shadow: inset -6px -6px 13px #fff ,
             inset 6px 6px 13px rgba(0,0,0,16);
             background-color: cadetblue;
             border: none;
             border-radius: 32px;
             color: rgb(25, 25, 25);
             text-align: end;
             margin: 40px 0px 30px 0px;
             padding: 20px;
             font-size: 40px;
}
button{
    box-shadow: inset6px 6px 13px #fff,
                6px 6px 13px rgba(0, 0,0, 16);
                background-color: darkcyan;
                border: none;
                border-radius: 50%;
                width: 50px;
                height: 50px;
                margin: 10px;
                font-weight: bold;
                font-size: 20px;
}